#logo {
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto Medium';
    color: white;
    padding: 13px 0px;
}

#header-auth {
    background: #f12a43;
}
.title-form-login{
    color: #8b8080;
    font-size: 30px;
    font-weight: 600;
}
.wp-input-icon{
    position: relative;
}
.icon-eye,.icon-eye-slash{
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
}
.icon-eye i,.icon-eye-slash i{
    color:#17bbac;
    font-size: 20px;
}
.form-lgrg{
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img-title-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.img-title-login img{
    max-width: 150px;
}
.container-login100 {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
#email.form-control, #password.form-control{
    height: 50px;
}
.login100-form-btn.btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: none;
    background: transparent;
}
.login100-form-btn.btn:hover{
    color: #fff;
}
.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}
.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: -o-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: -moz-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    top: 0;
    left: -100%;
    /* -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s; */
    transition: all .4s;
}
.wrap-login100-form-btn{
    cursor: pointer;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -moz-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -webkit-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -o-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
    -ms-box-shadow: 0 5px 30px 0 rgba(3,216,222,.2);
}
.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-lgrg .form-group .label{
    position: absolute;
    left: 5px;
    top: 26px;
    pointer-events: none;
    transform: translateY(-50%);
    padding: 0px 5px;
    background: white;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
}
.form-lgrg .form-group input:focus + .label, .form-lgrg .form-group input:valid + label{
    font-size: 16px;
     top: 0px;
     color: #1a73a8;
     
 }
 .form-lgrg .form-group input:focus{
     border: 2px solid #1a73a8;
 }