/*MAIN CONTENT*/

#main-content-wp {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 75px;
}

.main-content {
    width: 75%;
    margin-left: 2%;
}

.sidebar {
    width: 23%;
}

#slider-wp .item img {
    width: 100%!important
}

#category-product-wp {
    border: 1px solid #ececec;
    border-top: none;
    border-radius: 8px 8px 0px 0px;
}
#main-menu{
    margin-bottom: 0px;
}
#selling-wp,
#banner-wp,
#filter-product-wp {
    border: 1px solid #ececec;
    margin-top: 25px;
    border-radius: 8px 8px 0px 0px;
}

#category-product-wp .section-title,
#selling-wp .section-title,
#filter-product-wp .section-title {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    background: #239b3d;
    color: #fff;
    padding: 15px;
    border-radius: 8px 8px 0px 0px;
}

#category-product-wp .section-detail {
    background: #fff;
}

#category-product-wp .list-item {
    background: #fff;
}
#feature-product-wp .owl-carousel .owl-item{
    box-shadow: rgb(0 0 0 / 4%) 0px 6px 6px 0px;
}
#category-product-wp .list-item li a {
    display: block;
    color: #333;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
}

#category-product-wp .list-item li:last-child a {
    border-bottom: none;
}

#category-product-wp .list-item>li:hover>a,
#category-product-wp .list-item .sub-menu>li:hover>a {
    background: #eee;
}

#selling-wp .section-detail {
    background: #fff;
}

#selling-wp .section-detail .list-item {
    padding: 10px;
}

#selling-wp .section-detail .list-item li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}

#selling-wp .section-detail .list-item li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#selling-wp .section-detail .list-item .thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}

#selling-wp .section-detail .list-item .info {
    width: 70%;
    padding-left: 10px;
}

#selling-wp .section-detail .list-item .info .product-name {
    display: block;
    color: #333;
    line-height: 24px;
    font-family: 'Roboto Medium';
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: 2px;
}

#selling-wp .section-detail .list-item .info .price .new {
    display: inline-block;
    font-family: 'Roboto Medium';
    color: #ee4d2d;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    margin-right: 6px;
}

#selling-wp .section-detail .list-item .info .price .old {
    font-family: 'Roboto Light';
    color: #999;
    text-decoration: line-through;
    font-size: 13px;
}

#selling-wp .section-detail .list-item .info .buy-now {
    display: block;
    font-family: 'Roboto Medium';
    text-transform: uppercase;
    color: #333;
    font-size: 13px;
    background-color: rgb(203, 236, 15);
    width: 75px;
    padding-left: 5px;
}

#selling-wp .section-detail .list-item .info .buy-now:hover {
    background-color: rgb(233, 156, 13);
}

/* #support-wp {
    margin: 25px 0px; 
} */

#support-wp .section-detail {
    background: #fff;
    padding: 15px 0px;
}

#support-wp .section-detail .list-item li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

#support-wp .section-detail .list-item li:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0px;
    width: 1px;
    height: 75%;
    background: #ddd;
    transform: translateY(-50%);
}

#support-wp .section-detail .list-item li:last-child:before {
    display: none;
}

#support-wp .section-detail .list-item li .thumb {
    display: inline-block;
}

#support-wp .section-detail .list-item li .title {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 5px;
}

#support-wp .section-detail .list-item li .desc {
    font-size: 13px;
    font-family: 'Roboto Light';
    color: #8e8e8e;
    line-height: normal;
}

/* .section-head {
    margin-bottom: 30px;
} */

#feature-product-wp .section-title,
#list-product-wp .section-title {
    font-size: 18px;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 10px;
    background-color: #239b3d;
    line-height: normal;
    margin-bottom: 0px;
    border-radius: 8px 8px 0px 0px;
}

#feature-product-wp .list-item li,
#same-category-wp .list-item li {
    background: #fff;
    padding: 4px 4px 6px 4px;
    margin: 0% 2%;
    border: 1px solid transparent;
}

#feature-product-wp .list-item li .product-name,
#list-product-wp .list-item li .product-name,
#same-category-wp .list-item li .product-name {
    text-align: center;
    color: #222;
    font-family: 'Roboto Medium';
    margin: 15px 0px 0px 0px;
    line-height: normal;
}
#feature-product-wp .list-item li .product-name>div,
#list-product-wp .list-item li .product-name>div,
#same-category-wp .list-item li .product-name>div {
    min-height: 50px;
}
#feature-product-wp .list-item li .price,
#list-product-wp .list-item li .price,
#same-category-wp .list-item li .price {
    text-align: center;
    margin-bottom: 15px;
}

#feature-product-wp .list-item li .price .new,
#list-product-wp .list-item li .price .new,
#same-category-wp .list-item li .price .new {
    display: inline-block;
    font-family: 'Roboto Medium';
    color: #ee4d2d;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    margin-right: 6px;
}
.unit-in-content{
    color: #ee4d2d;
    margin-left: -3px;
}
.C\+nQBU {
    top: -3px;
    right: -1px;
    position: absolute;
    z-index: 3;
}
.heigth-img-content{
    height: 150px;
}
.m2nQX2 {
    background-color: rgba(255,212,36,.9);
    width: 36px;
    height: 32px;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 4px 2px 3px;
    font-weight: 700;
}
.WsnY7I {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-weight: 400;
    line-height: .8125rem;
    color: #ee4d2d;
    text-transform: uppercase;
    font-size: .75rem;
}
.bsTk4f {
    color: #fff;
}
.m2nQX2:after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255,212,36,.9);
    border-style: solid;
    border-width: 0 18px 4px;
}
#feature-product-wp .list-item li .price .old,
#list-product-wp .list-item li .price .old,
#same-category-wp .list-item li .price .old {
    display: inline-block;
    font-family: 'Roboto Light';
    color: #999;
    text-decoration: line-through;
}

#feature-product-wp .list-item li .action a,
#feature-product-wp .list-item li .action button,
#list-product-wp .list-item li .action a,
#list-product-wp .list-item li .action button,
#same-category-wp .list-item li .action a,#same-category-wp .list-item li .add-cart {
    display: block;
    border-radius: 5px;
    padding: 3px 9px;
    font-size: 12px;
}

#feature-product-wp .list-item li .action .add-cart,
#list-product-wp .list-item li .action .add-cart,
#same-category-wp .list-item li .action .add-cart {
    border: none;
    color:rgb(44 164 191);
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#feature-product-wp .list-item li .action .buy-now,
#list-product-wp .list-item li .action .buy-now,
#same-category-wp .list-item li .action .buy-now {
    color: #16812d;
    border: 1px solid #98dda1;
    transition: all 0.2s ease-in-out;
}

#feature-product-wp .list-item li .action .buy-now:hover,
#list-product-wp .list-item li .action .buy-now:hover,
#same-category-wp .list-item li .action .buy-now:hover {
    background: #6de262da;
    color: #fff;
}

#feature-product-wp .list-item li .action .add-cart:hover,
#list-product-wp .list-item li .action .add-cart:hover,
#same-category-wp .list-item li .action .add-cart:hover {
    background: rgb(238, 234, 234);
    color:rgb(44 164 191);
}

.border-bottom-title {
    display: block;
    width: 80%;
    border-top: 2px solid #239b3d;
}

#list-product-wp .section-detail .list-item li {
    float: left;
    width: 24.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: rgb(0 0 0 / 28%) 0px 6px 12px 0px;
}
#list-product-wp .section-detail .list-item li>div {
    padding: 5px 4px 6px 4px;
}
#list-product-wp .section-detail .list-item li>a>img {
    transition: all 0.4s ease-in-out;
}

#list-product-wp .section-detail .list-item li:hover {
    border: 1px solid #ddd;
}

#list-product-wp .section-detail .list-item li:hover>a>img {
    transform: translateY(-5px);
}


/* #list-product-wp .section-detail .list-item li>a>img {} */


#feature-product-wp .section-detail .list-item li:hover {
    border: 1px solid #ddd;
    
}

#feature-product-wp .section-detail .list-item li>a>img {
    transition: all 0.4s ease-in-out;
}

#feature-product-wp .section-detail .list-item li:hover>a>img {
    transform: translateY(-5px);
}

#list-product-wp .section-detail .list-item li:nth-child(4n) {
    margin-right: 0!important;
}


/*SIDEBAR MENU*/

#category-product-wp .list-item li {
    position: relative;
}

#category-product-wp .list-item li .sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 265px;
    z-index: 1000;
    border: 1px solid #ececec;
    background: #fff;
}

#category-product-wp .list-item li:hover>.sub-menu {
    display: block;
}

#category-product-wp .list-item li .arrow {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: #666;
}

.form-lgrg {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.image-click {
    border: 1px solid gray;
    opacity: 0.8;
}

#list-thumb .active-img-product {
    border: 1px solid #FB9393;
    opacity: 1;
}

figure.zoom {
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: zoom-in;
}

figure.zoom img:hover {
    opacity: 0;
}

figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}

.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 35px;
    right: 63px;
    z-index: 99;
  }
  .hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 110px;
    display: block;
  }
  .hotline-phone-ring-circle {
    width: 60px;
    height: 60px;
    top: 23px;
    left: 2px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #e60808;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
  }
  .hotline-phone-ring-circle-fill {
      width: 55px;
    height: 55px;
    top: 25px;
    left: 4px;
    position: absolute;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .hotline-phone-ring-img-circle {
      background-color: #e60808;
      width: 32px;
    height: 32px;
    top: 37px;
    left: 15px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hotline-phone-ring-img-circle .pps-btn-img {
      display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .hotline-phone-ring-img-circle .pps-btn-img img {
      width: 20px;
      height: 20px;
  }
  .dmini{
    font-size: 12px;
    text-decoration: underline;
    position: absolute;
    top: -2px;
    right: -9px;
  }
  @-webkit-keyframes phonering-alo-circle-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.5) skew(1deg);
      -webkit-opacity: 0.1;
    }
    30% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      -webkit-opacity: 0.5;
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -webkit-opacity: 0.1;
    }
  }
  @-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.6;
    }
    100% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
  }
  @-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
  }
  @media (max-width: 768px) {
    .hotline-bar {
      display: none;
    }
  }